* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
:root {
	--night-color: #151915;
    --mindaro-color: #c9f74b;
    --magnolia-color: #F3EFF5;
    --seagreen-color: #058C42;
    --malachite-color: #16DB65;
}
html, body {
    height: 100%;
    scroll-behavior: smooth;
    transition: 2s;
    color: var(--magnolia-color);
}
/* Le fond fixe placé derrière tout le reste */
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(ellipse at top, var(--night-color), var(--seagreen-color) );
    z-index: -1; /* reste derrière tout le contenu */
}
.content {
    background: #058c4200;
    height: auto;
    padding-top: 8rem;
}
.row {
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
}
.h2-party {
    text-align: center;
    font-size: 2rem;
    position: relative;
}
.h2-party::after {
    content: "";
    position: absolute;
    bottom: -15px; /* espace sous le texte */
    left: 50%;
    transform: translateX(-50%);
    width: 60px; /* longueur du trait */
    height: 3px;
    background: white;
    border-radius: 2px;
}
@media all and (max-width: 75rem) { /* -1200px */
    .row {
        max-width: 55rem;
    }
}
@media all and (max-width: 60rem) { /* -1200px */
    .row {
        max-width: 42rem;
    }
}
@media screen and (max-width: 38rem) { /* -600px */
    .row {
        max-width: 20rem;
    }
}
/* Header ------------------------------------------------------------------------------------------------------------------*/
header {
    display: flex;
    justify-content: space-around;
    padding: 1.2rem 0;
    position: fixed;
    width: 100%;
    background-color: var(--night-color);
    border-bottom:1px solid var(--magnolia-color);
    z-index: 2000;
}
span {
    color: var(--mindaro-color);
    font-weight: 700;}
header h2 {
    font-size: 1.2rem;
    cursor: pointer;
}
header h2:hover {
    text-shadow: 1px 1px 20px var(--mindaro-color);
}
.header-nav ul {
    display: flex;
    list-style: none;
}
header a {
    text-decoration: none;
    color: var(--magnolia-color);
    margin: 1rem 0.7rem;
}

.menu-souligne {
    position: relative;
    cursor: pointer;
}

.menu-souligne::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--mindaro-color);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

.menu-souligne:hover::after {
    transform: scaleX(1);
}
.icon-3d {
    transform-style: preserve-3d;
    height: 20px;
    width: 20px;
    transition: transform 0.3s ease;
}
/* Au survol, on applique une rotation 3D */
.icon-3d:hover {
    transform: rotateY(360deg);
}
.icon {
    height: 20px;
    width: 20px;
}
/* Section home -------------------------------------------------------------------------------------------------------------*/
.home {
    display: flex;
    gap: 20px;
    height: 100vh;
}
.home-left,
.home-right {
    flex-grow: 1;
}
.home-left {
    padding-top: 10rem;
}
.home p {
    font-size: 1.2rem;
}
.home h2 {
    font-size: 2.5rem;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}
.typing {
    /* Style de base */
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid var(--magnolia-color); /* curseur */
    /* Animation */
    animation: typing 7s steps(30, end) infinite, blink 0.7s step-end infinite;
}

/* Animation principale */
@keyframes typing {
    0% { width: 0; }
    33% { /* 7/19 = 36.84% => fin de l’écriture */ width: 23ch; }
    66% { /* 14/19 = 73.68% => fin de la pause */ width: 23ch; }
    100% { width: 0; /* effacement */ }
}

/* Curseur clignotant (optionnel) */

@keyframes blink {
    50% { border-color: transparent; }
}

.cv {
    color: var(--mindaro-color);
    padding: 0.5rem 1.2rem;
    border: 2px solid var(--mindaro-color);
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
    font-size: 0.9rem;
    font-weight: 700;
}
.cv:hover {
    background-color: var(--mindaro-color);
    color: var(--night-color);
    box-shadow: 1px 1px 10px var(--mindaro-color);
}
#icon-home-sous-cv {
    padding-left: 0.9rem;
}
.home-right {
    display: flex;
    justify-content: center;
    top: 12rem;
    right: 13rem;
    position: absolute;
}
.coin {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-image: url("../images/yanel_moisson_photo.jpg"); /* 👈 remplace par ta photo */
    background-size: cover;
    background-position: center;
    border: 6px solid var(--mindaro-color);
    box-shadow: 0 15px 30px var(--night-color), inset 0 0 30px var(--malachite-color);
    animation: spin 20s linear infinite;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.1s ease-out;
}
/* Ombre flottante */
.coin::after {
    content: "";
    position: absolute;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 40px;
    background: radial-gradient(ellipse at center, var(--night-color) 0%, transparent 70%);
    border-radius: 50%;
    filter: blur(6px);
    opacity: 0.7;
}
/* Animation de rotation lente */
@keyframes spin {
    0% { transform: rotateY(0deg) translateY(0px); }
    50% { transform: rotateY(180deg) translateY(-5px); }
    100% { transform: rotateY(360deg) translateY(0px); }
}
.coin:hover {
    animation: none;   /* stoppe la rotation */
    transform: rotateY(0deg);    /* force la face avant visible */
}
.icon-home {
    width: 4rem;
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
}
@media all and (max-width: 75rem) { /* -1200px */
    .home h2 {
        font-size: 2rem;
    }
    .home-right {
        right: 6rem;
    }
}
@media all and (max-width: 60rem) {
    .home h2 {
        font-size: 1.8rem;
    }
    .home-right {
        right: 3rem;
        top: 17rem;
    }
    .coin {
        width: 250px;
        height: 250px;
    }
    .home-left {
        padding-top: 15rem;
    }
}
@media screen and (max-width: 38rem) { /* -600px */
    .home h2 {
        font-size: 1.5rem;
    }
    .home-right {
        right: 20%;
        left: 20%;
        top: 8rem;
    }
    .coin {
        width: 200px;
        height: 200px;
    }
    .home-left {
        padding-top: 19rem;
    }
	.coin::after {
        bottom: -70px;
        width: 200px;
    }
}
/* Pop up -------------------------------------------------------------------------------------------------------------------*/

#about-popup {
    position: fixed;
    bottom: 5px;
    right: 5px;
    background-color: var(--night-color);
    box-shadow: 1px 1px 15px var(--night-color);
    color: white;
    padding: 14px 20px;
    font-size: 14px;
    opacity: 0;
    transform: translateY(20px);
    transition: 0.3s ease;
    z-index: 9999;
}
/* Affiché */
#about-popup.show {
    opacity: 1;
    transform: translateY(0);
}
#about-popup a {
    margin: 0.5rem;
    color: var(--magnolia-color);
    text-decoration: none;
}

/* Section about -------------------------------------------------------------------------------------------------------------*/
#scroll-down-btn {
	position: fixed;
	bottom: 2rem;
	right: 3rem;
	border: none;
	border-radius: 30px;
	cursor: pointer;
    display: none;
    z-index: 1000;
    background-color: transparent;
}
#scroll-down-btn img {
    width: 27px;
    height: 27px;
}
#scroll-down-btn:hover {
	transform: translateY(-1px);
}
#scroll-down-btn:active {
	transform: translateY(1px);
}

#about {
    height: auto;
}
.about {
    height: 80vh;
}
.about-first {
    display: flex;
    justify-content: space-between;
    padding: 5rem 0;
}
.about-left,
.about-right {
    width: 45%;
}
.about-first p {
    text-align: justify;
    font-size: .9rem;
    line-height: 1.5;      /* espace entre les lignes */
    letter-spacing: 0.5px; /* espace entre les lettres */
}
.about-first h3 {
    padding-top: 2rem;
    color: var(--mindaro-color);
    text-shadow: 1px 1px 10px var(--night-color);
}
.container-about {
    width: 50px;
    height: 100px;
    position: relative;
    perspective: 1200px;
}
.heptagone {
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    left: 16rem;
    transform-style: preserve-3d;
    transform-origin: center center;
    animation: tourner 23s linear infinite;
    margin-top: 4rem;
}
.face {
    width: 200px;
    height: 35px;
    background: #023418ea;
    border: 1px solid #fff;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: white;
    left: -100px;
    top: -35px;
    box-shadow: 0 0 10px rgba(255,255,255,0.4);
}

.f1 { transform: rotateY(0deg) translateZ(230px); }
.f2 { transform: rotateY(51.428571deg) translateZ(230px); }
.f3 { transform: rotateY(102.857142deg) translateZ(230px); }
.f4 { transform: rotateY(154.285713deg) translateZ(230px); }
.f5 { transform: rotateY(205.714284deg) translateZ(230px); }
.f6 { transform: rotateY(257.142855deg) translateZ(230px); }
.f7 { transform: rotateY(308.571426deg) translateZ(230px); }

@keyframes tourner {
    0% { transform: rotateY(0deg); }
    100% { transform: rotateY(-360deg); }
}

.about-image {
    margin-top: 6rem;
    padding: 2rem;
    border: 1px solid #f3eff531;
    background-color: #151915b3;
    box-shadow: 1px 1px 15px var(--night-color);
    transition: 0.5s ease-in-out;
}
.about-image:hover {
    scale: 1.01;
}
.about-image p:first-child,
.about-image p:last-child {
    padding-left: 2rem;
    color: var(--mindaro-color);
}
.decale {
    padding-left: 4rem;
    color: var(--malachite-color);
}
.content-about {
    background: #058c4200;
    height: 80vh;
    padding-top: 8rem;
}
#experiences h2 {
    padding-bottom: 1rem;
}
.experience-div {
    padding: 4rem 0;
}
.formation-div {
    padding: 4rem 0;
}
.experience-formation {
    background-color: var(--night-color);
    box-shadow: 1px 1px 15px var(--night-color);
    padding: 1rem;
    margin: 1rem 0;
    width: 60%;
    transition: 0.5s ease-in-out;
}
.experience-formation:hover {
    scale: 1.01;
}
.experience-formation div {
    display: flex;
    justify-content: space-between;
	gap: 20px;
}
.experience-formation div p:last-child {
    text-align: end;
}
.lieu {
    padding: 1.2rem;
}
.carousel {
    width: 100%;
    overflow: hidden;
}
.carousel ul {
    display: flex;
    width: 100%;
    list-style: none;
    animation: slide 12s infinite;
}
.carousel li {
    width: 100%;
    flex-shrink: 0;
    padding: 0.5rem;
    background-color: var(--seagreen-color);
}
.non-carousel {
    list-style: none;
}
.non-carousel li {
    padding: 0.5rem;
    background-color: var(--seagreen-color);
}
/* Animation pour le défilement */
@keyframes slide {
    0%   { transform: translateX(0%); }
    25%  { transform: translateX(0%); }
    37%  { transform: translateX(-90%); }
    62%  { transform: translateX(-102%); }
    69%  { transform: translateX(-192%); }
    93%  { transform: translateX(-204%); }
    100%  { transform: translateX(0%); }
}
@media all and (max-width: 75rem) { /* -1200px */
    .about-image {
        margin-top: 3rem;
    }
}
@media all and (max-width: 60rem) {
    .about-image p:first-child,
    .about-image p:last-child {
        padding-left: 0rem;
    }
    .decale {
        padding-left: 2rem;
    }
    .experience-formation {
        width: 95%;
    }
}
@media screen and (max-width: 38rem) { /* -600px */
    .about-first {
        flex-direction: column;
    }
    .about {
        height: 120vh;
    }
    .about-left,
    .about-right {
        width: 100%;
    }
    .face {
        left: -65px;
        width: 130px;
    }
    .heptagone {
        left: 10rem;
    }
    .f1 { transform: rotateY(0deg) translateZ(150px); }
    .f2 { transform: rotateY(51.428571deg) translateZ(150px); }
    .f3 { transform: rotateY(102.857142deg) translateZ(150px); }
    .f4 { transform: rotateY(154.285713deg) translateZ(150px); }
    .f5 { transform: rotateY(205.714284deg) translateZ(150px); }
    .f6 { transform: rotateY(257.142855deg) translateZ(150px); }
    .f7 { transform: rotateY(308.571426deg) translateZ(150px); }

    .experience-formation {
        width: 90%;
    }
}

/* Section projets -------------------------------------------------------------------------------------------------------------*/
#projets {
    padding-top: 7rem;
}
.container-projets {
    display: flex;
    gap: 20px;
    padding: 5rem 0;
}
.item-projets:nth-child(1),
.item-projets:nth-child(2),
.item-projets:nth-child(3) {
    flex-grow: 1;
    background-color: var(--night-color);
    height: 27.5rem;
    border-radius: 10px;
    box-shadow: 1px 1px 15px var(--night-color);
    border: 1px solid #f3eff531;
    transition: 0.5s ease-in-out;
    max-width: 24rem;
}
.item-projets:nth-child(1):hover,
.item-projets:nth-child(2):hover,
.item-projets:nth-child(3):hover {
    box-shadow: 1px 1px 100px var(--malachite-color);
    border: 1px solid var(--magnolia-color);
    z-index: 1000;
    scale: 1.01;
}

.item-projets img {
    width: 100%;
    height: 12rem;
    border-radius: 10px 10px 0 0;
}
.item-projets-elm {
    padding: 1rem;
}
.item-projets-elm p {
    padding-top: 1rem;
    text-align: justify;
}
.item-projets a {
    color: var(--mindaro-color);
    padding: 0.5rem 1.2rem;
    border: 2px solid var(--mindaro-color);
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
    font-size: 0.9rem;
    font-weight: 700;
    margin: 1rem;
}
.item-projets a:hover {
    background-color: var(--mindaro-color);
    color: var(--night-color);
    box-shadow: 1px 1px 10px var(--mindaro-color);
}

/* CONTENEUR GLOBAL */
.carousel {
    width: 100%;
    overflow: hidden;
    padding: 0 0 30px 0;
    display: block;
}

/* LIGNE DE SLIDES (on la double) */
.track {
    display: flex;
    width: max-content;
    animation: scroll 12s linear infinite;
}

.carousel:hover .track {
    animation-play-state: paused;
}

/* SLIDES */
.slide {
    flex-grow: 1;
    text-align: center;
    background-color: #16db6512;
    border: 1px solid var(--malachite-color);
    padding: .5rem 2.5rem;
}

/* ANIMATION */
@keyframes scroll {
  0%   { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.suite {
    display: none;
    color: var(--magnolia-color);
    font-weight: 500;
}
.btn-voir-plus {
    padding: .2rem .4rem;
    margin: .1rem;
    cursor: pointer;
    background-color: var(--night-color);
    color: var(--magnolia-color);
    border: 1px solid var(--magnolia-color);
    border-radius: 3px;
}
.btn-voir-plus:hover {
    box-shadow: 0px 0px 10px var(--magnolia-color);
    background-color: var(--magnolia-color);
    color: var(--night-color);
}
.en-cours {
    padding-top: .3rem;
}
.en-cours-carousel {
    padding-top: 2.9rem;
}
.border-sphere {
    border-bottom: 1px solid #ffffff39;
}
.sphere {
    position: relative;
    width: 370px;
    height: 190px;
    transform-style: preserve-3d;
    animation: rotate 10s linear infinite;
}
.ring {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-style: preserve-3d;
}
.dot {
    position: absolute;
    width: 5px;
    height: 5px;
    background: var(--magnolia-color);
    border-radius: 50%;
    transform-style: preserve-3d;
}
@keyframes rotate {
    from {transform: rotateX(0deg) rotateY(0deg);}
    to {transform: rotateX(360deg) rotateY(360deg);}
}

@media all and (max-width: 75rem) { /* -1200px */
    #projets {
        height: 140vh;
    }
    .container-projets {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}
@media all and (max-width: 60rem) { 
    #projets {
        height: 155vh;
    }
}
@media screen and (max-width: 38rem) { /* -600px */
    #projets {
        height: 190vh;
    }
    .item-projets:nth-child(1),
    .item-projets:nth-child(2),
    .item-projets:nth-child(3) {
        max-width: 23rem;
        height: 28rem;
    }
	.container-projets {
        justify-content: center;
    }
}

/* Section Contact -----------------------------------------------------------------------------------------------------------*/
.contact {
    display: flex;
    justify-content: space-between;
    padding: 5rem 0;
}
.contact-left,
.contact-right {
    width: 45%;
}
.contact ul {
    list-style: none;
    padding: 1rem 0;
}
.contact li {
    margin: 0.8rem 0;
}
.contact-a {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 1rem;
    color: var(--magnolia-color);
    background-color: var(--night-color);
    padding: 0.4rem 0.6rem;
    border-radius: 30px;
    width: 15rem;
    border: 2px solid #f3eff531;
}
.contact-a:hover {
    background-color: var(--seagreen-color);
    border: 2px solid var(--magnolia-color);
    box-shadow: 0px 0px 15px var(--malachite-color);
}
.contact-a img {
    padding-right: 0.7rem;
}

.icon-contact {
    display: flex;
    justify-content: space-between;
    width: 4rem;
    padding-left: 0.5rem;
}
fieldset {
    padding: 2rem;
    border: 1px solid #f3eff531;
    background-color: #151915b3;
    box-shadow: 1px 1px 15px var(--night-color);
}
fieldset div {
    padding: 0.6rem 0;
}
label {
    visibility: hidden;
    position: absolute;
}
input,
textarea {
    padding: 0.5rem;
    background-color: var(--night-color);
    border: 2px solid #232b23;
    width: 96%;
    border-radius: 5px;
    color: var(--magnolia-color);
}
input:focus,
textarea:focus {
    background-color: var(--seagreen-color);
    border: 2px solid var(--magnolia-color);
    box-shadow: 1px 1px 20px var(--malachite-color);
	outline: none;
}
input::placeholder,
textarea::placeholder {
    color: var(--magnolia-color);
}
textarea {
    height: 100px;
}
fieldset button {
    padding: 0.5rem 1rem;
    background-color: var(--night-color);
    color: var(--magnolia-color);
    border: 2px solid #232b23;
    border-radius: 5px;
}
fieldset button:hover {
    border: 2px solid var(--magnolia-color);
    background-color: var(--seagreen-color);
    box-shadow: 1px 1px 10px var(--malachite-color);
    cursor: pointer;
}

@media screen and (max-width: 38rem) { /* -600px */
    .contact {
        flex-direction: column;
        gap: 4rem;
    }
    .contact-left,
    .contact-right {
        width: 100%;
    }
}

/* Bouton mobile -------------------------------------------------------------------------------------------------------------*/
#mobile-menu-button-fermer,
#mobile-menu-button{
    position: absolute;
    visibility: hidden;
    right: 3rem;
}
.visi {
    visibility: visible;
    position: relative;
}
.button img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}
@media screen and (max-width: 38rem) { /* -600px */
    header {
        justify-content: left;
    }
    header h2 {
        padding-left: 3rem;
    }
    #mobile-menu-button {
        visibility: visible;
        position: absolute;
    }
    .visi {
        visibility: hidden;
        position: absolute;
    }
    .menu-open {
        height: 100%;
        width: 100%;
    }
    .header-nav ul {
        position: absolute;
        left: 0%;
        right: 0%;
        flex-direction: column;
        gap: 40px;
        padding-top: 6rem;
        text-align: center;
        width: 100%;
    }
    header li {
        padding: 2rem 0;
        width: 100%;
    }
    header li:hover {
        background-color: var(--mindaro-color);
    }
    header li:hover a {
        color: var(--night-color);
    }
    header a {
        font-size: 1.3rem;
    }
    .menu-souligne::after {
        background-color: var(--night-color);
    }
}




